body {
  background-color: blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-container {
  background-color: white;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: white;
  background-color: #009578;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

#add {
  padding: 8px 14px;
  margin: 30px 0;
}

.item-description {
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.item-completed:checked + .item-description {
  background-color: grey;
  text-decoration: line-through;
  outline: none;
}

#add-item {
  padding: 6px 14px;
}

.item {
  display: none;
}
